.darkerpink{
    width: 100%;
    height: 200px;
    background-color: #FFA0A0;
    border: 3px solid #262A53;
    box-sizing: border-box;
    border-radius: 15px 0px 0px 0px;
    text-align: center;
}
.pink{
    width: 100%;
    height: 200px;
    background-color: #FFE3E3;
}
/* font-family: 'Fuggles', cursive;

font-family: 'Sarabun', sans-serif; */
h1,h3, h4, p, ol, ul{
    font-family: 'Sarabun', sans-serif;
}
h2{
    font-family: 'Fuggles', cursive;
}
.icono{
    color: #FFC107;
    font-size: 23px;
}
.box{
    width: 550px;
    height: 200px;
    background-color: #A239EA;
    border: 3px solid #FFC107;
    text-align: center;
    margin-bottom: 30px;
    /* margin: auto; */
    /* padding: 20px; */
    box-sizing: border-box;
}
.box2{
    width: 550px;
    height: 200px;
    background-color: #E93B81;
    border: 3px solid #FFC107;
    text-align-last: auto;
    /* text-size-adjust: center; */
    /* margin: auto; */
    /* padding: 20px; */
    box-sizing: border-box;
}
.caja{
    background-color: #FFE3E3;
    column-count: 3;
    column-gap: 17px;
}