/* font-family: 'Laila', sans-serif;
font-family: 'Forum', cursive; */
body{
    font-family:'Forum', cursive;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #3D087B;
    padding: 1em 0;
}

header h1{
    color:#FFF338;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #F43B86;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: #FFF338;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: #851c46;
}

footer{
    background-color: #F43B86;
    clear: both;
    color: #FFF338;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li a.activo{
    background-color: #FF67E7;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: #3D087B;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}

.homeimg{
    max-width: 100%;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #F43B86;
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border: 1px solid #3D087B;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.persona{
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px (0,0,0,0.5);
    margin: 0.8em 0 1em;
    max-width: 70%;
}

.persona h5,
.persona h6{
    text-align: center;
    font-weight: normal;
    color: #3D087B;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 00.7em;
    color: #3D087B;
    margin: 0 1em 1em;
}

.persona:first-child{
    margin-left: 0;
}
/* 
.servicio{
    border: 1px solid #3D087B;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 75%;
}

.servicio .info h4{
    color: #3D087B;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #3D087B;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.servicio img{
    border-radius: 0.8em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
} */

.blog .foto{
    float: left;
    width: 18%;
    margin: 1em 0 1em 2.5%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
}

.blog .foto img{
    width: 100%;
    display: block;
}

.blog .foto:nth-child(5n+1){
    margin-left: 0;
}