body{
    font-family:'Forum', cursive;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #3D087B;
    padding: 1em 0;
}

header h1{
    color:#FFF338;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #F43B86;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: #FFF338;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: #851c46;
}

footer{
    background-color: #F43B86;
    clear: both;
    color: #FFF338;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

nav ul li a.activo{
    background-color: #FF67E7;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: #3D087B;
    font-weight: 400;
    margin: 0 0 1em;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}

.homeimg{
    max-width: 100%;
}

.servicio{
    border: 1px solid #3D087B;
    border-radius: 1em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.servicio .info{
    width: 70%;
}

.servicio .info h4{
    color: #3D087B;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #3D087B;
    padding-bottom: 0.5em;
}

.servicio .info p{
    font-size: 0.8em;
    line-height: 1.2em;
    color: #3D087B;
}

.servicio img{
    border-radius: 2em;
}

.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
    float: left;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
    float: right;
}

.servicio:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}
