.container{
    background-color: white;
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.caja1{
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;
}
.caja2{
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;

}
.caja3{
    background-color: green;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: flex-end;
}
p{
    color: white;
    margin: auto;
}