.container{
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border: 1px solid black;
    /* flex-flow: nowrap; */
    /* flex-wrap: nowrap; */
}
.caja1{
    background-color: red;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;  /* at last! */
}
.caja2{
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.caja3{
    background-color: green;
    width: 200px;
    height: 200px;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
p{
    color: white;
    margin: auto;
}